<%- include('../partials/header')%>

<body>
	<img class="wave" src="../img/wave.png">
	<div class="container">
		<div class="img">
			<img src="../img/cadastro.svg">
		</div>
		<div class="login-content">
			<form method="POST" action="/salvaUse" >
				<img src="../img/avatar.svg">
				<h2 class="title">Olá, vamos começar?</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Nome completo</h5>
						<input type="text" name="nome" class="input" required>
					</div>
				</div>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-envelope"></i>
					</div>
					<div class="div">
						<h5>Email</h5>
						<input type="email" name="email" class="input" required>
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Senha</h5>
						<input type="password" name="senha" class="input" required>
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Confirmar Senha</h5>
						<input type="password" name="conf_senha" class="input" required>
					</div>
				</div>
				<input type="submit" class="btn" value="Cadastrar">
				<a href="/" id="cadastro-login">Fazer login com conta já existente</a>
			</form>
		</div>
	</div>
</body>

<%- include('../partials/footer')%>