<nav>
    <ul>
        <li><a class="active" href="/usuario/logout">Sair</a></li>
        <li><a class="active" href="/documento/recibo">Criar novo documento</a></li>
        <li><a class="active" href="">Enviar</a></li>
    </ul>
</nav>