<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Inicio</title>
</head>

<body class="body_recibo">

    <div class="container_centro" id="container_recibo">
        <h1 class="titulodocum" id="titulogeral">Documento</h1>
        <form>
            <div>
                <h5 class="titulodocum">Informe o destinatário:</h5>
                <input id="destinatario" type="email" name="destinatario">
            </div>
            <h5 class="titulodocum">Título do documento:</h5>
            <input type="text" name="title" id="titulodoc">
            <br><br>
            <textarea name="documento" maxlength="240" cols="100" rows="25" id="Doc"></textarea>

            <button id="limpardocumento" class="imprimir" onclick="updateCreatDoc(event)">Salvar Documento</button>
            <button id="limpardocumento" class="imprimir" onclick="Voltar()">Cancelar</button>

    </div>

    <br>

</body>

<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script>
    const dataReceived = JSON.parse(localStorage.getItem('userInfo'));

    const id = dataReceived.ID;

    document.getElementById("titulodoc").value = dataReceived.title;
    document.getElementById("destinatario").value = dataReceived.dest;
    document.getElementById("Doc").value = dataReceived.doc;


    function updateCreatDoc(event) {
        event.preventDefault();

        let inputTitle = document.getElementById("titulodoc").value;
        let inputDest = document.getElementById("destinatario").value;
        let inputDoc = document.getElementById("Doc").value;

        if (!inputTitle & !inputDest & !inputDoc) {
            alert("Preencha todos os campos");
        } else {
            let Documento = {
                titulo: inputTitle,
                doc: inputDoc,
                destinatario: inputDest
            }
            if (dataReceived) {
                axios.put("http://localhost:8080/documento/" + id, Documento).then(response => {
                    if (response.status === 200) {
                        alert("Documento atualizado")
                        window.location.href = "http://localhost:8080/principal";
                        localStorage.clear();
                    }
                }).catch(err => {
                    console.log(err);
                })
            }
            else {
                axios.post("http://localhost:8080/documento", Documento).then(response => {
                    if (response.status === 200) {
                        alert("Documento cadastrado")
                        window.location.href = "http://localhost:8080/principal";
                        localStorage.clear();
                    }
                }).catch(err => {
                    console.log(err);
                })
            }
        }

    }

    function Voltar() {
        event.preventDefault();

        window.location.href = "http://localhost:8080/principal";
        localStorage.clear();
    }
</script>
<script type="text/javascript" src="../js/main.js"></script>

</html>