<nav>
    <ul>
        <li><a href="#home">Todos</a></li>
        <li><a href="#news">Documentos assinados</a></li>
        <li><a href="#contact">Pendentes</a></li>
        <li><a href="#contact">Enviados</a></li>
        <li style="float:right"><a class="active" href="/documento/recibo">Criar novo documento</a></li>
        <li style="float:right"><a class="active" href="/usuario/login">Sair</a></li>
    </ul>
</nav>