<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/recibo.css">
    <title>Recibo de Pagamento</title>
</head>

<body>

    <div id="recibo">
        <form method="POST" action="/salvaDoc">
            <h2>Recibo de Pagamento</h2>
            <input type="email" name="destinatario">
            <br><br><br>

            <input type="text" name="testa" id="">
            <br><br>
            <textarea name="Documento" maxlength="240" cols="100" rows="25" id="Doc"></textarea>

            <button class="imprimir">Salvar Documento</button>
        </form>
        <button id="limpardocumento" class="imprimir">Limpar documento</button>
        <a class="imprimir" href="index">Voltar</a>

    </div>

    <br>

</body>

<%- include('partials/footer')%>