<%- include('partials/header')%>

	<body>
		<img class="wave" src="img/wave.png">
		<div class="container">
			<div class="img">
				<img src="../img/login.svg">
			</div>
			<div class="login-content">
				<form>
					<img src="../img/avatar.svg">
					<h2 class="title">Bem-vindo</h2>
					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Usuário</h5>
							<input type="text" id="Email" class="input" required>
						</div>
					</div>
					<div class="input-div pass">
						<div class="i">
							<i class="fas fa-lock"></i>
						</div>
						<div class="div">
							<h5>Senha</h5>
							<input type="password" id="Password" class="input" required>
						</div>
					</div>
					<a href="/recuperar">Esqueceu sua senha?</a>
					<button class="btn" onclick=" login()">Login</button>
					<a href="/usuario/cadastro" id="cadastro-login">Cadastre-se</a>
				</form>
			</div>
		</div>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
	<script>

		function login() {
			event.preventDefault();
			let email = document.getElementById("Email").value;
			let senha = document.getElementById("Password").value;

			axios.post("http://localhost:8080/usuario/login", {
				email,
				senha
			}).then(res => {
				let token = res.data.Token;

			}).catch(err => {
				alert("deu pau")
			})
		}
	</script>
	<script type="text/javascript" src="../js/main.js"></script>

	</html>